
#income_table, #expense_table{
  border-collapse: collapse;
}

#income_table td, #income_table th, #expense_table td, #expense_table th  {
    border: 1px solid #ddd;
    padding: 8px;
}

#income_table th, #expense_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
}