/* October 29th,  2018
style.css
Creates the styling for the Budgeting Application webpage
Styles the background, text, margins, and positioning for each respective spot on the page.
 */

#header {
    padding: 30px;
    background: cadetblue;
    min-width: 320px;
}
#rowZero {
    padding: 20px;
    background: white;
    min-width: 320px;
}
#rowOne {
    padding: 20px;
    background: white;
    min-width: 320px;
}
#rowTwo {
    border: 1px black;
    padding: 20px;
    background: white;
    min-width: 320px;
}
#rowThree {
    padding: 20px;
    background: white;
    min-width: 320px;
}
#login {
    min-width: 400px;
    width: 100%;
    height: 1000px;
    padding: 20px;
    background: white;
    overflow: auto;
}
#footer {
    clear: both;
    padding: 10px 20px;
    background: white;
    min-width: 320px;
}
.table { width: 100%; }

/* column responsiveness found here:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive
 for next 3 blocks of code*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    float: left;
    width: 50%;
    padding: 20px;
}
@media screen and (max-width: 1200px) {
    .column {
        width: 100%
    }
}
h1 {
    margin: 0;
}
h2, h3 {
    margin: 0 0 1em;
}
#footer p {
    margin: 0;
}
body,
html {
    overflow: auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
   /* margin: 0;
    padding: 0;
    color: #000;*/
    background: cadetblue;
}
#messages {
    background: white;
    padding: 0px;
}
#page {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background: #ccc;
}
.graphs {
    display:none;
}

