/* October 29th,  2018
style.css
Creates the styling for the Budgeting Application webpage
Styles the background, text, margins, and positioning for each respective spot on the page.
 */

#header {
    padding: 20px;
    background: white;
}
#rowZero {
    padding: 20px;
    background: white;
}
#rowOne {
    padding: 20px;
    background: white;
}
#rowTwo {
    border: 1px black;
    padding: 20px;
    background: white;
}
#rowThree {
    padding: 20px;
    background: white;
}
#login {
    padding: 20px;
    background: white;
}
#footer {
    clear: both;
    padding: 10px 20px;
    background: white;
}
h1 {
    margin: 0;
}
h2, h3 {
    margin: 0 0 1em;
}
#footer p {
    margin: 0;
}
body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #ccc;
}
#messages {
    background: white;
    padding: 0px;
}
#page {
    width: 100%;
    margin: 0 auto;
    background: #ccc;
}
.graphs {
    display:none;
}

