{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div id="rowZero">
            <div class="float-right">
                <form action ="{{ url_for('logout') }}" method="post" class="logout">
                    <dd><input type="submit" class="btn btn-dark" value="Logout"></dd>
                </form>
            </div>
        </div>
    </div>
    <form action="{{ url_for('edit_incomes') }}" method="post" class="edit-incomes">
        <table id="income_table">
            <tr>
                <th>Incomes</th>
                <th id = "table_total_income">Total Income:</th>
            </tr>

            <tr>
                <td class = "table_category"><select name="category">
                    <option value="Salary">Salary</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select></td>
                <td class = "table_amount"><input type="text" size="30" name="amount" value={{ income.amount }}></td>
                <td class = "table_date"><input type="date" name="income_date"></td>
            </tr>
        </table>
        <input type="hidden" name="edit_incomes" value="{{ income.id }}">
        <button type="submit">
            Save Changes </button>
    </form>
{% endblock %}