{% extends "layout.html" %}
{% block body %}
    <div id="columnOne">
        <form action="{{ url_for('add_income') }}" method="post" class="add-income">
            <dt>Add Income:
            <dd><input type="text" size="30" name="add_income">
                <select name="incomeCategory">
                    <option value="Salary">Salary</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select></dd>
            <dd><input type="submit" value="Add Income">
        </form>
        <form action ="{{ url_for('filter_income') }}" method="post">
            <select name="filter_income">
                <option value="Salary">Salary</option>
                <option value="Miscellaneous">Miscellaneous</option>
            </select>
            <input type="submit" value="Filter Income">
            <!-- Created the Filter Text feature -->
        </form>
        <form action ="{{ url_for('add_expense') }}" method="post" class="add-expense">
            <dt>Add Expense:
            <dd><input type="text" size="30" name="add_expense">
                <select name="expenseCategory">
                    <option value="Housing">Housing</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Food/Drink">Food/Drink</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select></dd>
            <dd><input type="submit" value="Add Expense">
        </form>
        <form action ="{{ url_for('filter_expense') }}" method="post">
            <select name="filter_expense">
                <option value="Housing">Housing</option>
                <option value="Transportation">Transportation</option>
                <option value="Food/Drink">Food/Drink</option>
                <option value="Miscellaneous">Miscellaneous</option>
            </select>
            <input type="submit" value="Filter Expense">
            <h2>Graphs</h2>
    </div>
    <div id="columnTwo">
        <h2>Net Income: ${{ net }}</h2>
        <table id="income_table">
            <tr>
                <th>Incomes</th>
                <th id = "table_total_income">Total Income:</th>
            </tr>
            {% for incomeEntry in incomes %}
                <tr>
                    <td class = "table_category">Category {{ incomeEntry.category }}</td>
                    <td class = "table_amount">Amount {{ incomeEntry.amount }}</td>
                    <td class = "table_date">Date</td>
                    <td class = "table_edit">Edit</td>
                    <td class = "table_delete">Delete</td>
                </tr>
            {% else %}
                <i>No incomes entered</i>
            {% endfor %}
        </table>
        <table id="expense_table">
                <th>Expenses</th>
                <th id = "table_total_expenses">Total Expenses:</th>
            </tr>
            {% for expenseEntry in expenses %}
                <tr>
                    <td class = "table_category">Category {{ expenseEntry.category }}</td>
                    <td class = "table_amount">Amount {{ expenseEntry.amount }}</td>
                    <td class = "table_date">Date</td>
                    <td class = "table_edit">Edit</td>
                    <td class = "table_delete">Delete</td>
                </tr>
            {% else %}
                <i>No expenses entered</i>
            {% endfor %}
        </table>
    </div>

{% endblock %}