/* October 29th,  2018
style.css
Creates the styling for the Budgeting Application webpage
Styles the background, text, margins, and positioning for each respective spot on the page.
 */

#header {
  padding: 5px 10px;
  background: #ccc;
}

#columnOne {
  float: left;
  padding: 10px;
  background: #c9d;
  width: 50%;
}

#columnTwo {
  float: right;
  width: 50%;
  padding: 10px;
  background: #9cc;
}

#footer {
  clear: both;
  padding: 5px 10px;
  background: #ccc;
}

h1 {
  margin: 0;
}

h2, h3 {
  margin: 0 0 1em;
}

#footer p {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #ccc;
}

#page {
  width: 100%;
  margin: 0 auto;
  background: #ccc;
}
